* {
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%), url(background-web.jfif);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
    
}
.logo{
    color: #ff7200;
    font-size: 50px;
    font-family: Arial;
    padding-left: -20px ;
    float: left;
    padding-top: 10px;
    position: relative;
    top: 35px;

}

.contact-card {
    width: 500px;
    background: #ff7200;
    padding: 50px;
    border-radius: 30px;
    text-align: center;
    color: #000;
}

.contact-card h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.info {
    font-size: 20px;
    margin: 10px 0;
    font-weight: bold;
}

.btn-call {
    margin-top: 20px;
    padding: 10px 30px;
    background: #000;
    color: #ff7200;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;


}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}